:root{
 --bg: rgb(7, 39, 75);
}
body{
  background-color: var(--bg);
  color: rgb(197, 197, 197);
}
.flex{
  border: 0.1vw solid black;
  background-color: rgb(24, 53, 107);
  padding: 0.5vw;
  flex: 1;
}

.a{
  flex: 2;
}

.second{
  justify-content:flex-end;
}
@media(min-width: 768px){
  .flexParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .flex{
    border: 0.1vw solid black;
    background-color: #18356b;
    padding: 1vw;
    width: 20vw;
  }
}
.avatar{
  width: 5vw;
  border-radius: 1vw;
  margin: 0.3vw;
}
.img{
  width: 14vw;
  height: 20vw;
}

.F{
  background-color: #34135f;
}
.nat{
  float: right;
}