:root{
 --bg: rgb(22, 92, 172);
}
body{
  background-color: var(--bg);
  color: white;
}

.flex{
  border: 0.1vw solid black;
  background-color: cornflowerblue;
  padding: 1vw;
  width: 20vw;
}
.a{
  flex: 2;
}
.b{
  flex: 1;
}
.c{
  flex: 1;
}
.d{
  flex: 1;
}
.e{
  flex: 1;
}
.second{
  justify-content:flex-end;
}
@media(min-width: 768px){
  .flexParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}